.main {
  padding: 10rem 60px 5rem;
  background-image: linear-gradient(#c6dcfea3, #d8e6ff99);
}

.main-heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.5rem;
  margin: 0 0 1.5rem 0;
}

.main-para {
  font-size: 20px;
  font-weight: 400;
  color: #7e7a7a !important;
}

.input-box {
  width: 100%;
  max-width: 283px;
  gap: 16px;
  border: 1px solid #d2d9e7;
  border-radius: 8px 0 0 8px;
  border-right: none;
  color: grey;
  /* Set default text color to green */
  font-weight: 400 !important;
  font-size: 18px;
  line-height: 23px;
  padding: 16px;
}

.input-box::placeholder {
  color: #b3bdd2;
  /* Set placeholder text color to red */
}

.primary-button {
  background: #4079da;
  border: 1px solid #d2d9e7;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding: 16px;
  gap: 10px;
  max-width: 171px;
  width: 100%;
  border-radius: 0 8px 8px 0;
}

.primary-button:hover {
  background: #2e5aa5;
  color: #fff;
}

.connect-with-us {
  display: flex;
  align-items: center;
  gap: 16px;
}

.connect-msg {
  font-size: 15px;
  font-weight: 500;
}

.single-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.single-box a button {
  background-color: #fff;
  border: 1px solid rgba(19, 19, 19, 0.702);
  border-radius: 5px;
  color: black !important;
  font-size: 12px;
  padding: 5px 10px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.single-box a button img {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 820px) {
  .main {
    padding: 10rem 30px 3rem;
  }

  .text-col {
    display: flex;
    justify-content: center;
    flex-direction: column !important;
  }

  .main-heading {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 0 0 1.25rem 0;
  }

  .main-para {
    font-size: 14px;
    font-weight: 400;
  }

  .connect-msg {
    font-size: 12px !important;
  }

  .connection-link button span {
    display: none;
  }

  .single-box a button {
    padding: 4px 8px;
  }

  .input-box {
    max-width: 150px;
    font-size: 13px;
    line-height: 20px;
    padding: 8px;
  }

  .primary-button {
    font-size: 13px;
    line-height: 20px;
    padding: 8px;
    max-width: 151px;
  }
}

@media screen and (max-width: 620px) {
  .main {
    padding: 10rem 30px 3rem;
  }

  .text-col {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }

  .main-heading {
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
    margin: 0 0 1.25rem 0;
  }

  .main-para {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }

  .connect-msg {
    font-size: 12px !important;
  }

  .connection-link button span {
    display: none;
  }

  .single-box a button {
    padding: 4px 8px;
  }

  .input-box {
    max-width: 200px;
    font-size: 13px;
    line-height: 20px;
    padding: 8px;
  }

  .primary-button {
    font-size: 13px;
    line-height: 20px;
    padding: 8px;
    max-width: 171px;
  }
}

.main-departments {
  background-image: linear-gradient(#d8e6ff99, #f1f6ff83);
  padding-bottom: 60px;
}

.departments {
  max-width: 1280px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  border-radius: 8px;
  margin: 0 auto;
  padding: 32px 64px;
}

.departments h2 {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  letter-spacing: 0;
  color: #4a4a4a;
  outline: 0;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem !important;
}

.departments-list {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap !important;
}

.depatment-card {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  padding: 20px 24px;
  -webkit-box-shadow: 0 4px 12px rgba(207, 216, 220, .4);
  box-shadow: 0 4px 12px rgba(207, 216, 220, .4);
  border-radius: 8px;
  min-width: 300px;
  max-width: 300px;
  background-color: #fff;
}

.depatment-card p {
  margin-top: 8px;
  margin-bottom: 0 !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #73757b;
  white-space: initial;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-top img {
  width: 48px;
  height: 48px;
}

.card-top h3 {
  box-sizing: border-box;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  letter-spacing: 0;
  color: #4a4a4a;
  outline: 0;
  display: block;
  font-size: 1em;
  font-weight: bold;
}

.department-members {
  text-decoration: none;
  background: #fff;
  border: 1px solid #4079da;
  border-radius: 4px;
  padding: 9px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #4079da;
  height: fit-content;
  margin-top: auto;
}

.faculty-incharge {
  margin: 0 auto;
  padding: 32px 64px;
}

.faculty-incharge h2 {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  letter-spacing: 0;
  color: #4a4a4a;
  outline: 0;
  display: block;
  font-size: 2rem !important;
  font-weight: bold;
  margin-bottom: 2.5rem !important;
}

.content-para {
  font-weight: 300 !important;
}

@media screen and (max-width: 820px) {
  .main-departments {
    padding-bottom: 40px !important;
  }

  .faculty-incharge {
    margin: 0 auto;
    padding: 20px 5px;
  }

  .faculty-incharge h2 {
    margin-bottom: 1.75rem !important;
  }

  .faculty-content {
    padding: 0 3rem !important;
  }

  .faculty-content img {
    width: 300px !important;
  }

  .content-para {
    font-size: 13px;
  }
}

@media screen and (max-width: 620px) {
  .faculty-content {
    flex-direction: column !important;
    padding: 0 2rem !important;
  }
}