form {
    flex-direction: column;
    width: 40em;
}

.box {
    margin: 20px auto 20px auto;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 2em;
}

.blur {
    filter: blur(5px);
}

.closed-thing {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid #055160;
    border-radius: 20px;
    padding: 1.5em;
}

.recruitment-heading {
    text-align: center;
}

.recruitment-content {
    margin: auto;
    width: 30em;
    text-align: center;
    margin-bottom: 1.5em;
    color: grey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 760px) {
    form {
        width: 18em;
    }

    .box {
        padding: 1em;
    }

    .recruitment-heading {
        width: 13em;
    }

    .recruitment-content {
        width: 12em;
    }

}