.joinarea {
    padding-top: 70px;
    background-image: linear-gradient(#c6dcfea3, #d8e6ff99);
    padding-bottom: 50px;
}

@media screen and (max-width: 965px) {
    .joinarea {
        padding-top: 140px;
    }
}